# Node.js
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
.env
venv/
env/

# Database & Uploads (Jangan diupload ke GitHub agar data aman)
data/
uploads/
homeservice.db

# OS & Editor
.DS_Store
.vscode/

# Folder .env
.env

# SSL Certificate
certs/